*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container{
  padding-left:10%;
  padding-right: 10%;
}

body{
  background: #f5f5f5;

}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.btn{
  background: white;
  color: #212121;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  text-align: center;
}

.btn img{
  width: 20px;
  margin-left: 5px;
}

.btn.dark-btn{
  background: #212EA0;
  color: #f5f5f5;
}

@media (max-width:1200px) {
    .container{
      padding-left: 5%;
      padding-right: 5%;
    }

    .btn{
      padding: 14px 22px;
    }
}